[user]
    name = Lukasz Byczynski

[core]
    pager = delta
    excludesfile = ~/.gitignore_global

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    side-by-side = true

[merge]
    conflictstyle = diff3

[color]
    ui = true

[include]
    path = ~/.gitconfig.local
[alias]
	prune-branches = !git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -d
